server:
  http_listen_port: 3200

distributor:
  receivers:
    otlp:
      protocols:
        grpc:
          endpoint: 0.0.0.0:4317

storage:
  trace:
    backend: local
    local:
      path: /var/tempo/traces # Changed from /tmp/tempo/traces

metrics_generator:
  registry:
    external_labels:
      source: tempo

compactor:
  compaction:
    block_retention: 48h
